/*App*/
.App {
  text-align: center;
  /* display: flex;
  flex-direction: column;
  overflow: scroll;
  flex-wrap: wrap; */
  background-color: white;
  /* background-image: radial-gradient(#fbcb7b, #fd974f); */

  /* min-height: 100%;
  position: fixed;
  width: 100%; */
}

body {
  margin: 0;
  font-family: "Quicksand", sans-serif;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: white;
}

.event-label p {
  font-size: 1.3rem;
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
}

.event-label button {
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
  max-width: 120px;
  min-width: 120px;
}

p.event-date {
  font-size: 1rem;
}

/* header {
  display: block;
  width: 100%;
  height: 100%;
  margin: 0 auto;
} */

button {
  width: 100%;
}

#login {
  padding: 0 20px 0 20px;
}

#login button {
  margin-top: 20px;
}

#user-update {
  width: 50%;
}

#update-info-button {
  width: 25%;
}

#user-update-button {
  margin-top: 20px;
}
#create-event-button {
  margin-top: 20px;
}

#create-event-list {
  width: 50%;
}
.eventForm button {
  margin: 20px 0 0 0;
}

.eventForm .use-location {
  margin-bottom: 20px;
}

.eventForm ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.eventFrom li {
  margin: 0;
}

.location-text {
  margin: -20px 0 40px 0;
}


.google-logo {
  margin-top: 0.2rem;
  max-height: 15px;
}

.winning-card .home-btn {
  margin-top: 20px;

}

.winning-card .restaurant-website-btn {
  width: 90%;
}

.winning-card p {
  padding: 0 10px 0 10px;
}

/*Restaurant card*/
.Tinder-card {
  position: absolute;
}

.restaurant-image {
  width: 100%;
  height: 100%;
}
.chicken-image {
  max-height: 200px;
  max-width: 200px;
}
.restaurant-list {
  position: relative;
}
.back-arrow {
  transform: rotate(180deg);
}
.cancel-arrows {
  margin-left: 5px;
}

/*images*/

.user-avatar {
  border-radius: 5px;
}

/*swipe reaction*/
/* .left {
  z-index: 10;
  display: block;
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(153, 25, 25, 0.5);
}

.right {
  z-index: 10;
  display: block;
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(84, 196, 32, 0.5);
} */

/*responsiveness*/
@media only screen and (max-width: 500px) {
  .card {
    max-width: 280px;
    max-height: 460px;
  }

  .restaurant-image-box {
    max-height: 200px;
  }

  .winning-card {
    max-width: 280px;
  }

  .winning-restaurant-img {
    max-height: 200px;
  }
}

@media only screen and (min-width: 600px) {
  .event-label {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

/* .home-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  min-width: 100%;
  min-height: 100%;
  position: relative;
}

.header-icon {
  max-width: 50px;
  max-height: 50px;
  padding: 5px;
  margin: 5px;
} */
.loader .chicken-loader {
  margin: 50px;
  border-style: outset;
  border-radius: 10px;
  border-color: #fbcb7b;
  box-shadow: 0 0 8px 8px #fbcb7b, 1px 1px 5px #fef2e4;
}

.loader-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.loader {
  padding: 50px;
}
/*
.eventForm {
  display: flex;
  flex-direction: column;
  max-width: 350px;
  margin: auto;
}

.eventForm label {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 0.4rem;
}

.eventForm button {
  margin-left: auto;
  margin-right: 0;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  max-width: 150px;
}

.eventForm img {
  display: flex;
  flex-direction: row;
  justify-content: right;
}

.noBull {
  list-style: none;
}

ul {
  list-style: none;
}
*/
.user-avatar {
  max-width: 100px;
  max-height: 100px;
  border-style: groove;
  border-color: black;
  padding: 10px;
}

.friend-photo {
  max-width: 50px;
  max-height: 50px;
  border-radius: 50px;
}

.header-photo {
  margin-top: 5px;
  max-width: 50%;
  max-height: 60%;
  border-radius: 50px;
  margin-bottom: 2px;
}

.profile-button {
  border-style: outset;
  border-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 5px;
}

.profile-button:hover {
  background-color: tomato;
}

.user-profile {
  padding: 10px;
  margin: 10px;
}

.profile-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.app-header {
  display: grid;
  grid-template-columns: 6fr 0.5fr 0.3fr;
  align-items: center;
}

.username-header {
  font-size: 80%;
  margin-bottom: 5px;
}
