.App {
  text-align: center;
}
body {
  margin: 0;
}

.btn-green {
  padding: 100px;
  background-color: green;
}
.btn-red {
  padding: 100px;
  background-color: red;
}

.user-profile {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  border-style: groove;
  margin: 20px;
}

.user-avatar {
  border-radius: 5px;
}

.Tinder-card {
  border: black 5px;
  position: absolute;
  border-style: groove;
  background-color: aliceblue;
}

.restaurant-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px;
  padding: 20px;
  position: sticky;
  top: 0;
}
